
header {
    text-align: center;
    color: #000000;       /* Black */
    background: #fefefe;  /* White */
}

hr.star-light {
    border-color: #f58b25; /* Orange */
}

hr.star-primary {
    border-color: #f58b25; /* Orange */
}
